@use 'sass:map';
@use '../styles/colors.scss';
@use '../styles/typography.scss';

.table-footer {
  background-color: colors.$gray-100;

  td {
    color: colors.$gray-800;
    font-size: map.get(typography.$sizes, 'paragraph2');
    font-weight: map.get(typography.$weights, 'paragraph2');
    line-height: map.get(typography.$line-heights, 'paragraph2');
    padding: 0.75rem 1.5rem;
    white-space: nowrap;
  }
}
